{% load static %}
<main id="main-content">
        <section class="page page-contacts" style="background-color:#38384f; margin-top:30px">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <img src="{% static 'img/logo_CRMlabs_ white.png' %}" alt="" width=500px, style="margin-top: -150px;">
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <h1>Контакты CRMLabs</h1>
                        <p>г. Краснодар,
                        ул. Восточно-Кругликовская,
                        28/1<br>
                        </p>
                        <p>Телефон: <a class="roistat_phone" href="tel:84996478843">
                        <span class="country">8</span>&nbsp;
                        <span class="code">(499)</span>&nbsp;
                        <span class="number">647-88-43</span></a>
                        </p>
                        <p>Письмо директору: <a href="mailto:ya@lapkinlab.ru">ya@lapkinlab.ru</a>
                        <br><br>Письмо по вакансиям: <a href="mailto:hr@lapkinlab.ru">hr@lapkinlab.ru</a>
                        <br><br>Прочие письма: <a href="mailto:mail@lapkinlab.ru">mail@lapkinlab.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
</main>