{% extends 'base.html' %}
{% load static %}

{% block title %} 
Политика конфиденциальности - CRMLabs
{% endblock %}

{% block description %} 
Настоящая политика конфиденциальности CRMLabs персональных данных действует в отношении всей информации представленной на сайте. 
«Администрация сайта «CRMLabs.ru» (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени CRMLabs.ru, 
которые организуют и (или) осуществляет обработку персональных данных.
{% endblock %}

{% block content %}
    <!-- Main -->
    {% include 'privacy-policy.html' %}
{% endblock %}