{% load static %}
<!--main--> 
<main id="main-content">
    <!--breadcrumb-->
    <nav aria-label="breadcrumb" class="breadcrumb--wrapper">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb col-12" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" title="Главная" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="2"><span itemprop="name">amoCRM</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/breadcrumb--> 
    <div class="page page-ppc newsmm amocrm-page">
        <div class="ppc-slider">
            <div class="ppc-slider-image " style="background: #DBF3FF"></div>
            <div class="container">
                <div class="ppc-slider--wrapper row">
                    <div class="ppc-slider--slides col-xl-6 offset-xl-1 col-lg-7 offset-lg-0 col-md-12 offset-md-0">
                        <div class="slide slide-">
                            <div class="slide-title d-flex">
                                <span class="slide-title__text">
                                    Повышайте эффективность<br>
                                    работы компании<br>
                                    с инструментами от TaskFlow
                                </span>
                                <span class="amosubtitle">
                                    Постройте свою цифровую компанию
                                </span>
                                <button class="btn">
                                    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwxxzw'>Попробовать решение</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="slider--form col-xl-4 offset-xl-0 col-lg-5 offset-lg-0 col-md-12 offset-md-0">
                        <img src="{% static 'img/amocrm/main-ban-amo.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--ФОРМА ОСТАЛИСЬ ВОПРОСЫ?-->
        <div class="section--lapkin-form lapkin-form">
            <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"857188",hash:"9c87c4cae09b16f0d24f64064c65b686",locale:"ru"})}(window,0,"amo_forms_","params","load");</script><script id="amoforms_script_857188" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1635943970"></script>

            <div class="container">
                <div class="row">
                    <div class="lapkin-form--wrapper col-xl-10 offset-xl-1 col-sm-12 offset-sm-0">
                    </div>
                </div>
            </div>
        </div>
        <!-- /Форма - Остались вопросы? Напишите нам! -->           
    </div>
</main>
<!--/main-->