{% load static %}
<!--main--> 



<p>ТЕСТОВЫЙ ВЫВОД ЗНАЧЕНИЯ: <b>{{ phone1 }}</b></p>
<p>ТЕСТОВЫЙ ВЫВОД ЗНАЧЕНИЯ: <b>{{ email1 }}</b></p>
<p>ТЕСТОВЫЙ ВЫВОД ЗНАЧЕНИЯ: <b>{{ address_krd1 }}</b></p>
<p>ТЕСТОВЫЙ ВЫВОД ЗНАЧЕНИЯ: <b>{{ address_msk1 }}</b></p>


<script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"856978",hash:"134e356ce30bec862eb07ad43466d18e",locale:"ru"})}(window,0,"amo_forms_","params","load");</script><script id="amoforms_script_856978" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1635928406"></script>


<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwcxzm'>Попробовать решение</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzrrx'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzrwv'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzrwm'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzrcz'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzrzl'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzrmw'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwzvlt'>Заказать</a>
</button>

<button class="btn">
    <a class='text-white' style='text-decoration: none; font-family: "Proxima Nova", serif; font-weight:600;' href='https://forms.amocrm.ru/mwxllt'> Узнать стоимость для вашего проекта
    </a>
</button>


ТЕСТ - {{test_text}} {{now}}

{% for post in Bitrix24page_Slider %}
Заголовок - {{post.bannerUpTitle}}
Текст - {{post.bannerUpText}}
{% endfor %}

<!--/main-->